@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.left{
    width: 30%;
    background-image: url("./images/girl.png");
    background-size: cover;
    flex-shrink: 0; 
}

.logoContainer{
    width: 100%;
    background: rgba(45, 52, 54,.5);
}

.companyName{
    color: white;
    font-family: 'Ultra', serif;
}