@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #dfe6e9;
}

.left{
    width: 30%;
    background-image: url("./images/girl.png");
    background-size: cover;
    flex-shrink: 0; 
}

.logoContainer{
    width: 100%;
    background: rgba(45, 52, 54,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
}

.companyName{
    color: white;
    font-family: 'Ultra', serif;
    letter-spacing: .2rem;
    font-size: 4vw;
}

.logo{
    height: 20vh;
}

.right{
    font-family: 'Josefin Sans', sans-serif;
}

.header1,.header2{
    padding: 0 4rem;
    font-size: 2rem;
    width: 70%;
}

.header1{
    padding-top: 10rem;
}

.form{
    background-color: #fafafa;
}